<a href="https://colab.research.google.com/github/tasdidku23-cpu/First-Program/blob/main/3_Introduction_to_Python%20(Practices).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction**

## **Conditional**

In [ ]:
# Basic if-else
age = int(input('Enter your age: '))
if age >= 18:
  print("You are an adult")
else:
  print("You are a minor")

Enter your age: 75
You are an adult

In [ ]:
# Practice
score = int(input("Enter Your Score: "))
if score >= 80:
  print("You Got A+")
else:
  print("Missed A+ Bro")

Enter Your Score: 75
Missed A+ Bro

In [ ]:
# if-elif-else (multiple conditions)
score = int(input('Enter the score: '))
if score >= 90:
  grade = "A+"
elif score >= 80:
  grade = "A"
elif score >= 70:
  grade = "B"
elif score >= 60:
  grade = "C"
else:
  grade = "F"
print(f"Your grade is {grade}")  # Your grade is A

Enter the score: 75
Your grade is B

In [ ]:
# Practice
score = int(input("Enter Your Score: "))
if score >= 90:
  grade = "A+"
elif score >= 80:
  grade = "A"
elif score >= 70:
  grade = "A-"
elif score >=60:
  grade = "B+"
elif  score >=50:
  grade = "B"
else:
  grade = "F"
print(f"Your Grade Is {grade}")

Enter Your Score: 85
Your Grade Is A

In [ ]:
#nested if statements
temperature = 32
humidity = 80
if temperature > 30:
  if humidity > 70:
    print("Hot and humid")
  else:
    print("Hot but dry")
else:
  if humidity > 70:
    print("Cool but humid")
  else:
    print("Cool and dry")

Hot and humid

In [ ]:
# Practice
temperature = 23  # <25 = Cool >25 = Hot
humidity = 52    # <50 = Dry >50 = Humid
if temperature >= 25:
  if humidity >= 50:
    print("Hot but Humid")
  else:
    print("Hot and Dry")
else:
  if humidity >= 50:
    print("Cool and Humid")
  else:
    print("Cool but Dry")

Cool and Humid

In [ ]:
# More efficient version using logical operators
if temperature > 30 and humidity > 70:
  print("Hot and humid")
elif temperature > 30 and humidity <= 70:
  print("Hot but dry")
elif temperature <= 30 and humidity > 70:
  print("Cool but humid")
else:
  print("Cool and dry")
# Other logical operators
has_id = True
is_holiday = False
if has_id or is_holiday:
  print("Can enter")  # Prints this
if not is_holiday:
  print("Work day")   # Prints this

In [ ]:
# Practice
temperature = 23
humidity = 48
if temperature > 25 and humidity > 50:
  print("Hot but Humid")
elif temperature > 25 and humidity < 50:
  print("Hot and Dry")
elif temperature < 25 and humidity > 50:
  print("Cool and Humid")
else:
  print("Cool but Dry")

# Other Logical Operator Practice
has_id = True
is_holiday = False
if has_id or is_holiday:
  print("Can enter")
if not is_holiday:
  print("Work day")

In [ ]:
# 1
age = int(input("Enter Your Age: "))
paid = input("Have you paid your Admission fee? (yes/no)")
if age >= 18 and paid == "yes":
  print("You are eligible to get admitted")
elif age >= 18 and paid == "no":
  print("You aren't eligible")
else:
  print("You are under 18, not eligible")

Enter Your Age: 16
Have you paid your Admission fee? (yes/no)yes
You are under 18, not eligible

In [ ]:
# 2
number = int(input("Enter your number: "))
attendence = int(input("Enter your attendence(%): "))
assignment_submitted = input("Have you submitted your assignment? (yes/no)")
if number >= 40:
  if attendence >= 75 or assignment_submitted == "yes":
    print("Passed")
  else:
    print("Failed (Attendence/Assignment Issue)")
else:
  print("Failed (Low Mark)")

Enter your number: 35
Enter your attendence(%): 75
Have you submitted your assignment? (yes/no)yes
Failed (Low Mark)

## **Loop**

In [ ]:
# Looping through a list
fruits = ["apple", "banana", "orange"]
for fruit in fruits:
  print(f"I like {fruit}")
print("\n")

I like apple
I like banana
I like orange

In [ ]:
# Practice
fruits = ("banana", "orange", "mango", "jackfruit")
for fruit in fruits:
  print(f"I hate {fruit}")

I hate banana
I hate orange
I hate mango
I hate jackfruit

In [ ]:
# Using range() function
for i in range(5):  # 0 to 4
  print(i)
print("\n")
for i in range(2,10):  # 2 to 8
  print(i)

0
1
2
3
4


2
3
4
5
6
7
8
9

In [ ]:
# Practice
for i in range(11):
  print(i)
print("\n")
for i in range(5,9):
  print(i)

0
1
2
3
4
5
6
7
8
9
10


5
6
7
8

In [ ]:
# Continue until a condition is met
count = 0
while count < 5:
  print(count)
  count += 1  # Don't forget to increment!
print("\n")
# With a break statement
number = 0
while True:
  number += 1
  if number > 10:
    break
  print(number)

0
1
2
3
4


1
2
3
4
5
6
7
8
9
10

In [ ]:
# Practice
count = 0
while count <5:
  print(count)
  count += 1
print("\n")
number = 0
while True:
  number += 1
  if number > 10:
    break
  print(number)

0
1
2
3
4


1
2
3
4
5
6
7
8
9
10

In [ ]:
# Continue statement - skip to next iteration
for num in range(10):
  if num % 2 == 0:
    continue  # Skip even numbers
  print(num)    # Prints only odd numbers
print("\n")

1
3
5
7
9

In [ ]:
# Practice
for num in range(20):
  if num % 2 == 0:
    continue
  print(num)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Break statement - exit the loop
for num in range(100):
  if num > 10:
    break
  print(num)
# Stop when we reach 11
# Prints 0 through 10

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# Practice
for num in range(50):
  if num > 30:
    break
  print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [ ]:
# Multiplication table (1-5)
for i in range(1, 6):
  for j in range(1, 6):
    product = i * j
    print(f"{i} × {j} = {product}")
  print("-----")  # Separator between tables

1 × 1 = 1
1 × 2 = 2
1 × 3 = 3
1 × 4 = 4
1 × 5 = 5
-----
2 × 1 = 2
2 × 2 = 4
2 × 3 = 6
2 × 4 = 8
2 × 5 = 10
-----
3 × 1 = 3
3 × 2 = 6
3 × 3 = 9
3 × 4 = 12
3 × 5 = 15
-----
4 × 1 = 4
4 × 2 = 8
4 × 3 = 12
4 × 4 = 16
4 × 5 = 20
-----
5 × 1 = 5
5 × 2 = 10
5 × 3 = 15
5 × 4 = 20
5 × 5 = 25
-----

In [ ]:
# Practice
for i in range(1, 6):
  for j in range(1, 6):
    product = i * j
    print(f"{i} * {j} = {product}")
  print("_______")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
_______
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
_______
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
_______
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
_______
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
_______

In [ ]:
#pattern printing
for i in range(1, 6):
 print("*" * i)

*
**
***
****
*****

In [ ]:
# Practice
for i in range(1,10):
  if i % 2 != 0:
    print("*" * i)

*
***
*****
*******
*********

## **Function**

In [ ]:
# Defining a simple function
def greet():
  print("Hello! Welcome to Python programming.")
# Calling the function
greet()

Hello! Welcome to Python programming.

In [ ]:
# Practice
def greet():
  print("Hello! Welcome to python programming")
# Calling the function
greet()

Hello! Welcome to python programming

In [ ]:
# Function with parameters
def greet_person(name):
  print(f"Hello, {name}! How are you today?")
greet_person("Tahmid")  # Hello, Tahmid! How are you today?
print("\n")
# Function with return value
def add_numbers(a, b):
  sum = a + b
  return sum
result = add_numbers(5, 3)
print(f"The sum is {result}")  # The sum is 8

Hello, Tahmid! How are you today?


The sum is 8

In [ ]:
# Practice
def greet_person(name):
  print(f"Helllo, {name}! How are you?")
greet_person("Tasdid")
print("\n")
#
def add_numbers(a, b):
  sum = a + b
  return sum
result = add_numbers(5, 3)
print(f"The sum is {result}")

Helllo, Tasdid! How are you?


The sum is 8

In [ ]:
def greet(name, message="Good morning"):
  print(f"{message}, {name}!")
greet("Nadia")  # Good morning, Nadia!
greet("Karim", "Hello")  # Hello, Karim!

Good morning, Nadia!
Hello, Karim!

In [ ]:
# Practice
def greet(name, message="Good morning"):
  print(f"{message}, {name}!")
greet("Tasdid")
greet("Tasdid", "How are you?")

Good morning, Tasdid!
How are you?, Tasdid!

In [ ]:
def describe_person(name, age, city):
  print(f"{name} is {age} years old from {city}")
# Order doesn't matter with keyword args
describe_person(city="Chittagong", name="Rahim", age=25)

Rahim is 25 years old from Chittagong

In [ ]:
# Practice
def describe_person(name, age, city):
  print(f"{name} is {age} years old from {city}.")
describe_person("Tasdid", 23, "Khulna")
describe_person(age=23, name="Tasdid", city="Khulna")
describe_person(23, "Tasdid", "Khulna")

Tasdid is 23 years old from Khulna.
Tasdid is 23 years old from Khulna.
23 is Tasdid years old from Khulna.

In [ ]:
def calculate_stats(numbers):
  total = sum(numbers)
  average = total / len(numbers)
  maximum = max(numbers)
  minimum = min(numbers)
  return total, average, maximum, minimum
stats = calculate_stats([5, 10, 15, 20])
print(stats)  # (50, 12.5, 20, 5)

(50, 12.5, 20, 5)

In [ ]:
# Practice
def calculate_stats(numbers):
  total = sum(numbers)
  average = total / len(numbers)
  maximum = max(numbers)
  minimum = min(numbers)
  return total, average, maximum, minimum
  stats = calculate_stats([5, 10, 15, 20])
print(stats)

(50, 12.5, 20, 5)

In [ ]:
total = 0  # Global variable

def add_to_total(value):
    global total  # Access global variable
    total += value
    return total

print(add_to_total(5))  # 5
print(add_to_total(10))  # 15

5
15

In [3]:
# Practice
total = 5

def add_to_total(value):
  global total
  total += value
  return total

print(add_to_total(5))
print(add_to_total(5))

10
15

In [ ]:
# Math module
import math
print(math.pi)  # 3.141592653589793
print(math.sqrt(16))  # 4.0
# Random module
import random
print(random.randint(1, 10))  # Random number
print(random.choice(["apple", "banana", "orange"]))
 # Datetime module
import datetime
current_date = datetime.datetime.now()
print(current_date)

3.141592653589793
4.0
2
banana
2025-11-20 03:23:01.875440

In [15]:
# Practice

# Math Module
import math
print(math.pi)
print(math.sqrt(25))

#Random Module
import random
print(random.randint(11,20))
print(random.choice(["Tasdid", "Tazmin", "Mong", "Muzahid"]))

# Datetime Module
import datetime
current_date = datetime.datetime.now()
print(current_date)

3.141592653589793
5.0
16
Tasdid
2025-11-27 08:50:29.170820

In [ ]:
# mymath.py
%%writefile mymath.py
def add(a, b):
  return a + b
def subtract(a, b):
  return a - b
PI = 3.14159

Writing mymath.py

In [ ]:
import mymath
print(mymath.add(5, 3))      # 8
print(mymath.subtract(10, 4)) # 6
print(mymath.PI)             # 3.14159

8
6
3.14159

In [16]:
# Practice
#tasdid.py
%%writefile tasdid.py
def add(a, b):
  return a + b
def substract(a, b):
  return a - b
PI = 3.14159

Writing tasdid.py

In [17]:
import tasdid
print(tasdid.add(5, 3))
print(tasdid.substract(10, 4))
print(tasdid.PI)

8
6
3.14159