<a href="https://colab.research.google.com/github/tasdidku23-cpu/First-Program/blob/main/Homework_(L2)_Tasdid_Eamin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Homework (L2) - Tasdid Eamin**

In [13]:
# Task-1 (Creating variable)
name = "Tasdid Eamin"
age = 23
favorite_color = "Blue"

# printing with descriptive labels
print("Name:", name)
print("Age:", age)
print("Favorite Color:", favorite_color)

# alternative way
print(f"Name: {name}")
print(f"Age: {age}")
print(f"Favorite Color: {favorite_color}")

Name: Tasdid Eamin
Age: 23
Favorite Color: Blue
Name: Tasdid Eamin
Age: 23
Favorite Color: Blue

In [21]:
# Task-2 (Creating one variable of each type)
name = "Tasdid"
age = 23
is_student = True
study_gap = None

# verifying types
print(type(name))
print(type(age))
print(type(is_student))
print(type(study_gap))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'NoneType'>

In [39]:
# Task-3 (Calculating area)
length = 7
width = 5

# claculating area
area = length * width
print("Area:",area)
perimeter = 2 * (length + width)
print("Perimeter:", perimeter)

Area: 35
Perimeter: 24

In [40]:
# Task - 4 (Creating a list of 5 BD fruits)
fruits = ["blueberry", "mango", "jackfruit", "lemon", "papaya"]
# accessing the first and last elements
print(fruits[0])
print(fruits[-1])
# with descriptive labels
print(f"First Element: {fruits[0]}")
print(f"Last Element: {fruits[-1]}")

blueberry
papaya
First Element: blueberry
Last Element: papaya

In [50]:
# Task-5 (Creating a list of 5 numbers)
numbers = [3, 5, 9, 8, 4]
# adding new number and removing one
numbers.append(11)
numbers.remove(8)
print(numbers)
# sorting the list
numbers.sort()
print(numbers)

[3, 5, 9, 4, 11]
[3, 4, 5, 9, 11]

In [90]:
# Task-6 (Creating a dictionary)
biodata = {
    "name" : "Tasdid",
    "age": 23,
    "is_student" : True,
    "height" : 5.7,
}
# regular print
print(biodata)
# with descriptive labels
print("Name:", biodata["name"])
print("Age:", biodata["age"])
print("Student status:", biodata["is_student"])
print("Height:", biodata["height"])

{'name': 'Tasdid', 'age': 23, 'is_student': True, 'height': 5.7}
Name: Tasdid
Age: 23
Student status: True
Height: 5.7

In [91]:
# Task-7 (Creating a tuple)
sixty_dome_mosque = ("22° 40′ 27.09″ N", "89° 44′ 31.41″ E")
print(sixty_dome_mosque)

('22° 40′ 27.09″ N', '89° 44′ 31.41″ E')

In [97]:
# Task-8 (Creating two sets of color)
boys_favorite = {"blue", "black", "white", "gray", "navy blue"}
girls_favorite = {"pink", "purple", "red", "blue", "white"}

# union
total_favorite_colors = boys_favorite | girls_favorite
print(total_favorite_colors)
# intersection
common_colors = boys_favorite & girls_favorite
print(common_colors)
# difference
boys_only = boys_favorite - girls_favorite
print(boys_only)
girls_only = girls_favorite - boys_favorite
print(girls_only)

{'purple', 'black', 'pink', 'white', 'blue', 'gray', 'red', 'navy blue'}
{'white', 'blue'}
{'gray', 'navy blue', 'black'}
{'purple', 'pink', 'red'}

In [125]:
# Task-9 (Creating function for first and last character)
def print_first_last(text):
  first_character = text[0]
  last_character = text[-1]
  print("First Character:", first_character)
  print("Last Character:", last_character)

# example 1
print_first_last("Tasdid")
# example 2
print_first_last("Khulna University")
# example 3
print_first_last("Skill Morph")

# I completed this task (Task-9) with the help of ChatGPT.

First Character: T
Last Character: d
First Character: K
Last Character: y
First Character: S
Last Character: h

In [143]:
# Task-10 (Creating function for Uppercase string)
def to_uppercase(text):
    the_text = text.upper()
    print("Uppercase:", the_text)

# example 1
to_uppercase("Tasdid")
# example 2
to_uppercase("Khulna University")
# example 3
to_uppercase("Skill Morph")

# I completed this task (Task-10) with the help of ChatGPT.

Uppercase: TASDID
Uppercase: KHULNA UNIVERSITY
Uppercase: SKILL MORPH